{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BCMS</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bcms.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function mover()
        {
            var M
            M = document.getElementById("id01");

        }
    </script>

    <script>
      $(function(){
        $('.middle').bind('load', function(){
          var parentwidth = parseFloat($(".middle").parent().parent().css("width"));
          var thiswidth = parseFloat($(".middle").css("width"));
          $(".middle").css({"margin-left": (parentwidth-thiswidth)/2 + "px"});
        });
        $('.middle').trigger('load');
      });

      $(function(){
        $('#menu_bar').bind("click", function(){
          $("#menu_board").slideToggle();
        });
        $("#menu_bar").trigger("click");
      });

      $(document).ready(function(){
        $(window).resize(function(){
          $(".middle").trigger('load');
        });
      });
    </script>
</head>
<body>
    <div class="page-header">
        <div id="page_head1">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                {% if user.is_staff %}
                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                {% endif %}
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
                <h1><a href="/newsfeed" style="font-size: 40px;">Bugil Community Mapping System</a></h1>
        </div>

        <div id="page_head2">
            <div id="menu_bar"><img id="menu_icon" class="middle" src="https://i.imgur.com/OuqOJ5e.png"></div>
            <div id="menu_board">
                테스트입니다.
            </div>
        </div>
    </div>

    <div class="content container">
        <div class="row">
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

<footer>
    <font class="dev_info">Copyright(C)2019 by Team Banada | 류동환(DongWhan Ryu) : 총괄(Manager), 백엔드(Back End), 데이터베이스(DB), 서버 관리(Server) | 김민재(KimGoon / Minjae Kim) : 프론트엔드(Front End), 디자인(Designer)</font>
</footer>

</html>