<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>BCMS</title>
</head>
<body>
	<div id="map" style="width:100%;height:1000px;">BCMS</div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b29d74e9682893bb288211e36af79f54"></script>
	<script>
	    var MARKER_WIDTH = 33,
    MARKER_HEIGHT = 36,
    OFFSET_X = 12,
    OFFSET_Y = MARKER_HEIGHT,
    OVER_MARKER_WIDTH = 40,
    OVER_MARKER_HEIGHT = 42,
    OVER_OFFSET_X = 13,
    OVER_OFFSET_Y = OVER_MARKER_HEIGHT,
    SPRITE_MARKER_URL = 'http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markers_sprites2.png',
    SPRITE_WIDTH = 126,
    SPRITE_HEIGHT = 146,
    SPRITE_GAP = 10;

var markerSize = new daum.maps.Size(MARKER_WIDTH, MARKER_HEIGHT),
    markerOffset = new daum.maps.Point(OFFSET_X, OFFSET_Y),
    overMarkerSize = new daum.maps.Size(OVER_MARKER_WIDTH, OVER_MARKER_HEIGHT),
    overMarkerOffset = new daum.maps.Point(OVER_OFFSET_X, OVER_OFFSET_Y),
    spriteImageSize = new daum.maps.Size(SPRITE_WIDTH, SPRITE_HEIGHT);

var positions = [
        new daum.maps.LatLng(36.831873, 127.158165),
        new daum.maps.LatLng(36.831624, 127.159168),
        new daum.maps.LatLng(36.830014, 127.158229),
    ],
    selectedMarker = null;

		var mapContainer = document.getElementById('map'),
		    mapOption = {
			center: new daum.maps.LatLng(36.831498, 127.158242),
			level: 4
		};

		var map = new daum.maps.Map(mapContainer, mapOption);

    for (var i = 0, len = positions.length; i < len; i++) {
        var gapX = (MARKER_WIDTH + SPRITE_GAP),
            originY = (MARKER_HEIGHT + SPRITE_GAP) * i,
            overOriginY = (OVER_MARKER_HEIGHT + SPRITE_GAP) * i,
            normalOrigin = new daum.maps.Point(0, originY),
            clickOrigin = new daum.maps.Point(gapX, originY),
            overOrigin = new daum.maps.Point(gapX * 2, overOriginY);

        addMarker(positions[i], normalOrigin, overOrigin, clickOrigin);
    }

function addMarker(position, normalOrigin, overOrigin, clickOrigin) {

    var normalImage = createMarkerImage(markerSize, markerOffset, normalOrigin),
        overImage = createMarkerImage(overMarkerSize, overMarkerOffset, overOrigin),
        clickImage = createMarkerImage(markerSize, markerOffset, clickOrigin);

    var marker = new daum.maps.Marker({
        map: map,
        position: position,
        image: normalImage
    });

    marker.normalImage = normalImage;

    daum.maps.event.addListener(marker, 'mouseover', function() {

        if (!selectedMarker || selectedMarker !== marker) {
            marker.setImage(overImage);
        }
    });

    daum.maps.event.addListener(marker, 'mouseout', function() {

        if (!selectedMarker || selectedMarker !== marker) {
            marker.setImage(normalImage);
        }
    });

    daum.maps.event.addListener(marker, 'click', function() {

        if (!selectedMarker || selectedMarker !== marker) {

                !!selectedMarker && selectedMarker.setImage(selectedMarker.normalImage);

                marker.setImage(clickImage);
            }

            selectedMarker = marker;
        });
    }

    function createMarkerImage(markerSize, offset, spriteOrigin) {
        var markerImage = new daum.maps.MarkerImage(
            SPRITE_MARKER_URL,
            markerSize,
            {
                offset: offset,
                spriteOrigin: spriteOrigin,
                spriteSize: spriteImageSize
            }
        );

        return markerImage;
    }
	</script>
</body>
</html>
