{% load static %}
<html>
<head>
	<meta charset="utf-8"/>
	<title>BCMS</title>
</head>
<body>
	<div id="map" style="width:100%;height:800px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4a64d5af0b678bb150e4147d7a780a57"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b29d74e9682893bb288211e36af79f54"></script>
	<script>
		var markerImageUrl = 'http://t1.daumcdn.net/localimg/localimages/07/2012/img/marker_p.png',
			markerImageSize = new daum.maps.Size(40, 42), // 마커 이미지의 크기
			markerImageOptions = {
					spriteOrigin : new daum.maps.Point(0, 0), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
					spriteSize : new daum.maps.Size(40, 42), // 스프라이트 이미지의 전체 크기
					offset : new daum.maps.Point(20, 42)// 마커 좌표에 일치시킬 이미지 안의 좌표
			};

		// 마커 이미지를 생성한다
		var markerImage = new daum.maps.MarkerImage(markerImageUrl, markerImageSize, markerImageOptions);

		var positions = [  // 마커의 위치
        new daum.maps.LatLng(36.831873, 127.158165),
        new daum.maps.LatLng(36.831624, 127.159168),
        new daum.maps.LatLng(36.830014, 127.158229)
    		],
    		selectedMarker = null; // 클릭한 마커를 담을 변수

		var db_data = [
				"오버레이 텍스트1",
				"오버레이 텍스트2",
				"오버레이 텍스트3"
				];

		var mapContainer = document.getElementById('map'),
		    mapOption = {
					center: new daum.maps.LatLng(36.831498, 127.158242),
					level: 4
				};

		var map = new daum.maps.Map(mapContainer, mapOption);
		console.log("맵이 생성되었습니다.");

		var markers = [];
		var ovlys=[];
		var mrk_num = 0;

		var mark_data = { //db에서 받아오는 데이터
					author: 0,
					lat: 0,
					lng: 0,
					text: ""
				};

		var data_arr = [];

		var is_ovly = false;

		function closeOverlay(num) {
			ovlys[num].setMap(null);
		}

// 마커를 생성하고 지도 위에 표시하고, 마커에 mouseover, mouseout, click 이벤트를 등록하는 함수입니다
		function addMarker(position, author, title, text, type) {

	    // 마커를 생성하고 이미지는 기본 마커 이미지를 사용합니다
	    var marker = new daum.maps.Marker({
	        map: map,
	        position: position,
	        image: markerImage
	    });

			markers.push(marker);
			var id_num = mrk_num.toString();
			mrk_num += 1;
			console.log("마커" + id_num + "가 생성되었습니다.");

			//데이터를 받아왔을 때 그것을 표시합니다.
			//새로운 마커를 설치하는 경우 content를 다르게 작성합니다. (입력 양식)
			//입력 양식 오버레이의 취소버튼을 누를 시 그에 해당하는 마커가 사라집니다.
			//입력 양식 오버레이를 작성하여 제출할 시, 그 내뇽과 마커의 좌표(x, y 분할)를 ajax를 이용하여 new_data.py으로 전송합니다. (POST)
			var content = '<div class="wrap">' +
					'    <button class="close" onclick="closeOverlay(' + id_num + ');">X</button>' +
					'    <div class="body">' +
					'    		 ' + author + '<br>' + title + '<br>' + text +
					'    </div>' +
					'</div>';

			var content_new_ovly = '<div class="wrap">' +
					'    <button class="close" onclick="closeOverlay(' + id_num + ');markers[' + id_num + '].setMap(null);">X</button>' +
					'    <div class="body">' +
					'    		 <form id="form' + '">' +
					'            <h2>작성자</h2>' +
					'            <input id="author' + id_num + '" type="text">' +
					'            <h2>구체적인 장소</h2>' +
					'            <input id="title' + id_num +'" type="text">' +
					'            <h2>내용</h2>' +
					'            <textarea id="information' + id_num + '"></textarea>' +
					'            <input class="smt" type="submit" value="저장">' +
					'        </form>' +
					'    </div>' +
					'</div>';

			if(type == 1) {
				var ovly_content = content;
			} else {
				var ovly_content = content_new_ovly;
			}

			// 마커 위에 커스텀오버레이를 표시합니다
			// 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
			var overlay = new daum.maps.CustomOverlay({
					content: ovly_content,
					position: marker.getPosition()
			});

			ovlys.push(overlay);

			$(".wrap").on("mouseover", function(){is_ovly = true;console.log("오버레이 진입함");});
			$(".wrap").on("mouseout", function(){is_ovly = false;console.log("오버레이 벗어남");});

			var is_showed = false;

			if(type==2) {
				overlay.setMap(map);
				is_showed = true;
				$("#form" + id_num).submit(function(){
					var ajaxurl = 'http://dongwhanryu.pythonanywhere.com/new_map_data',
							auth = $("#author"+id_num).val(),
							locx = position.getLat().toString(),
							locy = position.getLng().toString(),
							tit = $("#title"+id_num).val(),
							inform = $("#information"+id_num).val(),
      				data =  {'author': auth, 'loc_x': locx, 'loc_y': locy, 'title': tit, 'information': inform};
      		$.post(ajaxurl, data, function (response) {

      		});
					ovlys[id_num].setMap(null);
					ovlys[id_num].content = '<div class="wrap">' +
							'    <button class="close" onclick="closeOverlay(' + id_num + ');">X</button>' +
							'    <div class="body">' +
							'    		 ' + auth + '<br>' + tit + '<br>' + inform +
							'    </div>' +
							'</div>';
				});
			}

			daum.maps.event.addListener(marker, 'click', function(){
				if(!is_showed) {
					overlay.setMap(map);
					is_showed = true;
				} else {
					overlay.setMap(null);
					is_showed = false;
				}
			});
		}

		// 지도 위에 마커를 표시합니다
		for (var i = 0, len = positions.length; i < len; i++) {
			addMarker(positions[i], "", "", db_data[i], 1);
		}

		daum.maps.event.addListener(map, "click", function(mouseEvent) {
			if(!is_ovly) {
				addMarker(mouseEvent.latLng, "", "", "", 2);
			}
		});
	</script>
</body>
</html>
