.page-header {
    background-color: #ff9400;
    margin-top: 0;
    position: relative;
    z-index: 100;
    padding-bottom: 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.title {
    margin-left: 2%;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    padding: 10px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.container {
    display: flex;
}

.box-left {
    flex: 1;
}

.box-right {
    flex: 1;
    text-align: right;
}

body#home {
        background-image: url("http://ifh.cc/g/p98sx.jpg");
        background-size: cover;
        background-position-x: center;
}

body#home a {
    text-decoration: none;
    color: #ffffff;
}

.title_font {
    display: block;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2px;
    font-family: "Nanum Gothic";
}

#logo {
  display: table;
  width: 400px;
  opacity: 0;
  position: absolute;
  clip: rect(0 400px 320px 0px);
}

#slogan {
  margin-top: 320px;
  font-size: 30px;
}

#whiteboard {
    background-color: #ffffff;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.70;
    padding: 2px;
    padding-bottom: 10px;
}

body#home h2, h4 {
  font-family: "Malgun Gothic Light";
  width: 100%;
  text-align: center;
  margin: 0px;
}

body#home h2 {
  color: #000000;
  font-size: 40px;
}

body#home h4 {
  font-size: 16px;
  color: #888888;
}

body#home .middle {
  display: inline-block;
}

.button {
  display: table;
  width: 200px;
  height: 200px;
}

.notice {
  display: block;
  height: auto;
  border-radius: 4px;
  font-size: 20px;
  background-color: #eeeeee;
  margin: 5px;
  padding: 2px;
  text-align: center;
}

#not1_content, #not2_content {
  font-size: 16px;
  background-color: #dddddd;
}

div#wboard a {
  font-family: "Nanum Gothic";
  color: #000000;
}

div#wboard span.glyphicon {
  margin-top : 5px;
}

.dev_info {
  display: block;
  padding: 5px;
  margin-top: 100px;
  font-size: 12px;
  text-align: center;
  background-color: #eeeeee;
  opacity: 0.75;
  color: #000000;
  font-family: "Malgun Gothic Light";
}

#page_head1 {
  padding: 10px;
}

#page_head2 {
  background-image: url("http://ifh.cc/g/p98sx.jpg");
  padding: 10px;
  background-position-x: -3700px;
  background-position-y: center;
}

#menu_bar {
  display: block;
  background-color: #aaaaaa;
  width: 100%;
  height: auto;
  opacity: 0.75;
}

#menu_icon {
  width: 30px;
}

#menu_board {
  background-color: rgba(221,221,221,0.5);
  opacity: 0.5;
}

hr {
  border-top: 1px solid #000000;
}

.post_board {
    padding: 10px;
}

#map {
  position: absolute;
  top: 140px;
  z-index: 1;
}

.wrap {
			padding: 10px;
			background-color: #ffffff;
			width: 220px;
			border-radius: 10px;
			white-space: pre-line;
			position: absolute;
			bottom: 44px;
			left: -120px;
}

.body {
			display: inline-block;
			width: 160px;
			white-space: pre-line;
			margin-top: 5px;
}

.close {
			background-color: #ffffff;
			border: 0;
			font-size: 12px;
			outline: 0;
			padding: 0;
			float: right;
}

.smt {
			background-color: #ffffff;
			border: 0;
			font-size: 12px;
			outline: 0;
			padding: 0;
}

div.wrap h2 {
			text-decoration: none;
			margin: 2px;
			font-size: 20px;
}

div.wrap input {
			width: 100%;
}

div.wrap textarea{
			height: 100px;
			resize: none;
}

footer {
    position: fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    text-align: center;
}

#wboard {
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.70;
    padding: 2px;
    padding-bottom: 10px;
}